/* HEADER */
.header {
  grid-area: header; }
  .header .navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0; }
    .header .navbar .navbar__logochico {
      width: 220px; }
    .header .navbar .menu {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: baseline;
      flex-wrap: wrap;
      list-style: none;
      font: bolder;
      font-size: larger; }
      .header .navbar .menu .menu__link {
        margin: 10px 50px 10px -5px; }
      .header .navbar .menu .menu__link--active {
        color: red;
        background-color: grey; }
      .header .navbar .menu .menu__item--active {
        list-style-image: url(../media/logo/item_chiquito.jpg); }
      .header .navbar .menu .menu__link__ultimo {
        text-align: center;
        margin: auto; }
