/* MISC */
/* SPACINGS*/
/* FONT FAMILY */
/* FONT SIZES*/
/* FONT SIZES*/
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400");
* {
  margin: 0;
  padding: 0; }

.container {
  max-width: 1150px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.4fr 2fr 0.1fr;
  gap: 1rem;
  grid-template-areas: "header" "maincontent" "footer"; }
  .container .header {
    grid-area: header; }
  .container .maincontent {
    grid-area: maincontent;
    display: flex;
    justify-content: center; }
  .container .footer {
    grid-area: footer; }

ul {
  margin-bottom: 0;
  padding-left: 0; }

li, a {
  font-family: 'Rajdhani', sans-serif;
  color: black;
  margin: 3px;
  font-weight: bold;
  font-size: 20px; }

body {
  background-color: white;
  margin-left: 150px;
  margin-right: 150px; }

h2 {
  font-family: 'Rajdhani', sans-serif;
  border: solid black 2px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: lh-sm;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center; }

h3 {
  font-family: 'Rajdhani', sans-serif;
  border: solid black 2px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: lh-sm;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center; }

p {
  border: solid black 2px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: lh-sm;
  padding-left: 20px;
  padding-right: 20px; }

/* PARTIALS */
/* HEADER */
.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; }
  .header .navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 150px;
    padding: 0; }
    .header .navbar .navbar__logochico {
      transition-duration: 2s;
      width: 220px; }
      .header .navbar .navbar__logochico:hover {
        width: 240px;
        transition-duration: 2s; }
    .header .navbar nav .menu {
      font-family: 'Rajdhani', sans-serif;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: baseline;
      flex-wrap: wrap;
      list-style: none;
      font: bolder;
      font-size: larger; }
      .header .navbar nav .menu .menu__link {
        margin: 10px 50px 10px -5px;
        background-color: white;
        text-decoration: none;
        transition-duration: 2.5s; }
        .header .navbar nav .menu .menu__link:hover {
          font-size: 21px;
          background-color: grey;
          text-decoration: underline;
          transition-duration: 2s; }
      .header .navbar nav .menu .menu__link--active {
        color: red; }
      .header .navbar nav .menu .menu__item--active {
        list-style-image: url(../media/logo/item_chiquito.jpg); }
      .header .navbar nav .menu .menu__link__ultimo {
        text-align: center;
        margin: auto;
        text-decoration: none;
        transition-duration: 2.5s; }
        .header .navbar nav .menu .menu__link__ultimo:hover {
          font-size: 21px;
          background-color: grey;
          text-decoration: underline;
          transition-duration: 2s; }

/* FOOTER */
.social-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh; }

.social-wrapper i {
  padding: 0px 10px;
  color: #171717;
  cursor: pointer;
  transition: all ease-in-out 150ms;
  text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.7); }

.social-wrapper i:hover {
  margin-top: -10px;
  transform: translate(0, -8); }

#facebook:hover {
  color: #4867AA;
  text-shadow: 0px 16px 10px rgba(36, 101, 135, 0.3); }

#instagram:hover {
  color: #8a3ab9;
  text-shadow: 0px 16px 10px rgba(233, 89, 80, 0.3); }

#youtube:hover {
  color: #ff1b1b;
  text-shadow: 0px 16px 10px rgba(233, 89, 80, 0.3); }

#github:hover {
  color: #c9510c;
  text-shadow: 0px 16px 10px rgba(189, 44, 0, 0.3); }

/* VIEWS */
/*INICIO*/
.maintext {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; }
  .maintext .backmorz {
    position: absolute;
    z-index: 3;
    width: 400px;
    height: 500px;
    filter: opacity(0%);
    transition-duration: 1.5s; }
  .maintext .backmorz:hover {
    transition-duration: 1.5s;
    filter: opacity(30%); }
  .maintext .papiro {
    position: relative;
    z-index: 1;
    width: 520px;
    height: 700px; }
  .maintext p {
    z-index: 2;
    position: absolute;
    font-family: 'MedievalSharp', cursive;
    font-weight: bold;
    border: none;
    width: 400px; }

.mainimage {
  width: 600px;
  height: 800px; }

/*MORZART*/
#morzart {
  display: grid;
  grid-template-areas: ". img1 img2 ." ". img3 img4 ." ". img5 img6 ." ". img7 img8 .";
  grid-template-columns: 0.2fr 1fr 1fr 0.2fr;
  grid-template-rows: 1fr 1fr 1fr 1fr; }

.img1 {
  grid-area: img1; }

.img1__foto:hover, .img2__foto:hover {
  transition-duration: 1.5s;
  filter: grayscale(0%); }

.img1__foto, .img2__foto {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(90%); }

.img2 {
  grid-area: img2; }

.img3 {
  grid-area: img3; }

.img3__foto:hover {
  transition-duration: 1.5s;
  filter: grayscale(0%); }

.img3__foto {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(90%); }

.img4 {
  grid-area: img4; }

.img4__foto:hover {
  transition-duration: 1.5s;
  filter: grayscale(0%); }

.img4__foto {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(90%); }

.img5 {
  grid-area: img5; }

.img5__foto:hover {
  transition-duration: 1.5s;
  filter: grayscale(0%); }

.img5__foto {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(90%); }

.img6 {
  grid-area: img6; }

.img6__foto:hover {
  transition-duration: 1.5s;
  filter: grayscale(0%); }

.img6__foto {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(90%); }

.img7 {
  grid-area: img7; }

.img7__foto:hover {
  transition-duration: 1.5s;
  filter: grayscale(0%); }

.img7__foto {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(90%); }

.img8 {
  grid-area: img8; }

.img8__foto:hover {
  transition-duration: 1.5s;
  filter: grayscale(0%); }

.img8__foto {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(90%); }

/*HISTORIA*/
.miembros {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: initial;
  margin-top: 20px; }
  .miembros .card {
    font-family: 'Rajdhani', sans-serif; }
    .miembros .card .tarjetita .card-img-top {
      width: 367px;
      height: 356px; }
    .miembros .card .card-body {
      align-items: initial; }

/*GALERIA*/
#galeria {
  text-align: center; }
  #galeria .fotos {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    border-radius: 1%; }
    #galeria .fotos img {
      transition-duration: 2s; }
      #galeria .fotos img:hover {
        width: 900px;
        height: 620px;
        transition-duration: 2s; }

/*VIDEOS*/
#videos {
  display: flex;
  flex-direction: column;
  align-items: center; }
  #videos iframe {
    border: solid grey 4px;
    margin: 10px; }

/*CONTACTO*/
@media (min-width: 120px) and (max-width: 380px) {
  body {
    background-color: white;
    margin-left: 2px;
    margin-right: 2px; }
  .mainimage {
    width: 300px;
    height: 320px; }
  i, .fa-2x {
    font-size: 1.2em; }
  .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
    .header .navbar {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 0px;
      padding: 0; }
      .header .navbar .navbar__logochico {
        transition-duration: 2s;
        width: 175px; }
        .header .navbar .navbar__logochico:hover {
          width: 230px;
          transition-duration: 2s; }
      .header .navbar nav .menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: baseline;
        flex-wrap: wrap;
        list-style: none;
        font: bolder;
        font-size: larger; }
        .header .navbar nav .menu .menu__link {
          margin: 0px 10px;
          background-color: white;
          text-decoration: none;
          transition-duration: 2.5s;
          font-size: 15px; }
          .header .navbar nav .menu .menu__link:hover {
            font-size: 15px;
            background-color: grey;
            text-decoration: underline;
            transition-duration: 2s; }
        .header .navbar nav .menu .menu__link--active {
          color: red; }
        .header .navbar nav .menu .menu__item--active {
          list-style-image: none; }
        .header .navbar nav .menu .menu__link__ultimo {
          text-align: center;
          margin: 0 10px;
          text-decoration: none;
          transition-duration: 2.5s;
          font-size: 15px; }
          .header .navbar nav .menu .menu__link__ultimo:hover {
            font-size: 15px;
            background-color: grey;
            text-decoration: underline;
            transition-duration: 2s; }
  h2 {
    font-size: 14px; }
  #morzart {
    display: grid;
    grid-template-areas: "img1" "img2" "img3"  "img4" "img5"  "img6" "img7"  "img8";
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr; }
  iframe {
    width: 270px;
    height: 300px; }
  .fotos img {
    width: 270px;
    height: 250px; }
  #galeria {
    text-align: center; }
    #galeria .fotos {
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-around;
      align-items: center;
      border-radius: 1%; }
      #galeria .fotos img {
        width: 300px;
        height: 220px;
        transition-duration: 2s; }
        #galeria .fotos img:hover {
          width: 300px;
          height: 220px;
          transition-duration: 2s; }
  .maintext {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row; }
    .maintext .backmorz {
      margin-top: 89px;
      position: absolute;
      z-index: 3;
      width: 240px;
      height: 350px;
      filter: opacity(0%);
      transition-duration: 1.5s; }
    .maintext .backmorz:hover {
      transition-duration: 1.5s;
      filter: opacity(30%); }
    .maintext .papiro {
      position: relative;
      z-index: 1;
      width: 320px;
      height: 715px; }
    .maintext p {
      margin-top: 50px;
      font-size: small;
      z-index: 2;
      position: absolute;
      font-family: 'MedievalSharp', cursive;
      font-weight: bold;
      border: none;
      width: 240px;
      height: 400px; } }

@media (min-width: 381px) and (max-width: 500px) {
  body {
    background-color: white;
    margin-left: 2px;
    margin-right: 2px; }
  .mainimage {
    width: 325px;
    height: 380px; }
  i, .fa-2x {
    font-size: 1.4em; }
  .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
    .header .navbar {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 0px;
      padding: 0; }
      .header .navbar .navbar__logochico {
        transition-duration: 2s;
        width: 175px; }
        .header .navbar .navbar__logochico:hover {
          width: 250px;
          transition-duration: 2s; }
      .header .navbar nav .menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: baseline;
        flex-wrap: wrap;
        list-style: none;
        font: bolder;
        font-size: larger; }
        .header .navbar nav .menu .menu__link {
          margin: 0px 10px;
          background-color: white;
          text-decoration: none;
          transition-duration: 2.5s;
          font-size: 15px; }
          .header .navbar nav .menu .menu__link:hover {
            font-size: 15px;
            background-color: grey;
            text-decoration: underline;
            transition-duration: 2s; }
        .header .navbar nav .menu .menu__link--active {
          color: red; }
        .header .navbar nav .menu .menu__item--active {
          list-style-image: none; }
        .header .navbar nav .menu .menu__link__ultimo {
          text-align: center;
          margin: 0 10px;
          text-decoration: none;
          transition-duration: 2.5s;
          font-size: 15px; }
          .header .navbar nav .menu .menu__link__ultimo:hover {
            font-size: 15px;
            background-color: grey;
            text-decoration: underline;
            transition-duration: 2s; }
  h2 {
    font-size: 14px; }
  #morzart {
    display: grid;
    grid-template-areas: "img1" "img2" "img3"  "img4" "img5"  "img6" "img7"  "img8";
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr; }
  iframe {
    width: 270px;
    height: 300px; }
  .fotos img {
    width: 270px;
    height: 250px; }
  #galeria {
    text-align: center; }
    #galeria .fotos {
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-around;
      align-items: center;
      border-radius: 1%; }
      #galeria .fotos img {
        width: 350px;
        height: 260px;
        transition-duration: 2s; }
        #galeria .fotos img:hover {
          width: 350px;
          height: 260px;
          transition-duration: 2s; }
  .maintext {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; }
    .maintext .backmorz {
      position: absolute;
      z-index: 3;
      width: 400px;
      height: 500px;
      filter: opacity(0%);
      transition-duration: 1.5s; }
    .maintext .backmorz:hover {
      transition-duration: 1.5s;
      filter: opacity(30%); }
    .maintext .papiro {
      position: relative;
      z-index: 1;
      width: 400px;
      height: 550px; }
    .maintext p {
      font-size: small;
      z-index: 2;
      position: absolute;
      font-family: 'MedievalSharp', cursive;
      font-weight: bold;
      border: none;
      width: 310px; } }

@media (min-width: 501px) and (max-width: 768px) {
  body {
    background-color: white;
    margin-left: 2px;
    margin-right: 2px; }
  .mainimage {
    width: 450px;
    height: 620px; }
  i, .fa-2x {
    font-size: 1.7em; }
  .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
    .header .navbar {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 0px;
      padding: 0; }
      .header .navbar .navbar__logochico {
        transition-duration: 2s;
        width: 210px; }
        .header .navbar .navbar__logochico:hover {
          width: 310px;
          transition-duration: 2s; }
      .header .navbar nav .menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: baseline;
        flex-wrap: wrap;
        list-style: none;
        font: bolder;
        font-size: larger; }
        .header .navbar nav .menu .menu__link {
          margin: 0px 10px;
          background-color: white;
          text-decoration: none;
          transition-duration: 2.5s;
          font-size: 18px; }
          .header .navbar nav .menu .menu__link:hover {
            font-size: 18px;
            background-color: grey;
            text-decoration: underline;
            transition-duration: 2s; }
        .header .navbar nav .menu .menu__link--active {
          color: red; }
        .header .navbar nav .menu .menu__item--active {
          list-style-image: none; }
        .header .navbar nav .menu .menu__link__ultimo {
          text-align: center;
          margin: 0 10px;
          text-decoration: none;
          transition-duration: 2.5s;
          font-size: 18px; }
          .header .navbar nav .menu .menu__link__ultimo:hover {
            font-size: 18px;
            background-color: grey;
            text-decoration: underline;
            transition-duration: 2s; }
  h2 {
    font-size: 14px; }
  #morzart {
    display: grid;
    grid-template-areas: ". img1 ." ". img2 ."  ". img3 ."  ". img4 ." ". img5 ."  ". img6 ." ". img7 ."  ". img8 .";
    grid-template-columns: 0.2fr 1fr 0.2fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr; }
  iframe {
    width: 270px;
    height: 300px; }
  .fotos img {
    width: 270px;
    height: 250px; }
  #galeria {
    text-align: center; }
    #galeria .fotos {
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-around;
      align-items: center;
      border-radius: 1%; }
      #galeria .fotos img {
        width: 500px;
        height: 380px;
        transition-duration: 2s; }
        #galeria .fotos img:hover {
          width: 500px;
          height: 380px;
          transition-duration: 2s; } }

@media (min-width: 769px) and (max-width: 1024px) {
  body {
    background-color: white;
    margin-left: 2px;
    margin-right: 2px; }
  .mainimage {
    width: 550px;
    height: 780px; }
  i, .fa-2x {
    font-size: 2em; }
  .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
    .header .navbar {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 0px;
      padding: 0; }
      .header .navbar .navbar__logochico {
        transition-duration: 2s;
        width: 210px; }
        .header .navbar .navbar__logochico:hover {
          width: 225px;
          transition-duration: 2s; }
      .header .navbar nav .menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: baseline;
        flex-wrap: wrap;
        list-style: none;
        font: bolder;
        font-size: larger; }
        .header .navbar nav .menu .menu__link {
          margin: 0px 10px;
          background-color: white;
          text-decoration: none;
          transition-duration: 2.5s;
          font-size: 20px; }
          .header .navbar nav .menu .menu__link:hover {
            font-size: 20px;
            background-color: grey;
            text-decoration: underline;
            transition-duration: 2s; }
        .header .navbar nav .menu .menu__link--active {
          color: red; }
        .header .navbar nav .menu .menu__item--active {
          list-style-image: none; }
        .header .navbar nav .menu .menu__link__ultimo {
          text-align: center;
          margin: 0 10px;
          text-decoration: none;
          transition-duration: 2.5s;
          font-size: 20px; }
          .header .navbar nav .menu .menu__link__ultimo:hover {
            font-size: 20px;
            background-color: grey;
            text-decoration: underline;
            transition-duration: 2s; }
  h2 {
    font-size: 14px; }
  .fotos img {
    width: 270px;
    height: 250px; }
  #galeria {
    text-align: center; }
    #galeria .fotos {
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-around;
      align-items: center;
      border-radius: 1%; }
      #galeria .fotos img {
        width: 600px;
        height: 450px;
        transition-duration: 2s; }
        #galeria .fotos img:hover {
          width: 600px;
          height: 450px;
          transition-duration: 2s; } }

@media (min-width: 1025px) and (max-width: 1440px) {
  body {
    background-color: white;
    margin-left: 2px;
    margin-right: 2px; }
  .mainimage {
    width: 550px;
    height: 780px; }
  i, .fa-2x {
    font-size: 2em; }
  .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
    .header .navbar {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 0px;
      padding: 0; }
      .header .navbar .navbar__logochico {
        transition-duration: 2s;
        width: 210px; }
        .header .navbar .navbar__logochico:hover {
          width: 240px;
          transition-duration: 2s; }
      .header .navbar nav .menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: baseline;
        flex-wrap: wrap;
        list-style: none;
        font: bolder;
        font-size: larger; }
        .header .navbar nav .menu .menu__link {
          margin: 0px 10px;
          background-color: white;
          text-decoration: none;
          transition-duration: 2.5s;
          font-size: 20px; }
          .header .navbar nav .menu .menu__link:hover {
            font-size: 20px;
            background-color: grey;
            text-decoration: underline;
            transition-duration: 2s; }
        .header .navbar nav .menu .menu__link--active {
          color: red; }
        .header .navbar nav .menu .menu__item--active {
          list-style-image: none; }
        .header .navbar nav .menu .menu__link__ultimo {
          text-align: center;
          margin: 0 10px;
          text-decoration: none;
          transition-duration: 2.5s;
          font-size: 20px; }
          .header .navbar nav .menu .menu__link__ultimo:hover {
            font-size: 20px;
            background-color: grey;
            text-decoration: underline;
            transition-duration: 2s; }
  h2 {
    font-size: 14px; }
  .fotos img {
    width: 270px;
    height: 250px; }
  #galeria {
    text-align: center; }
    #galeria .fotos {
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-around;
      align-items: center;
      border-radius: 1%; }
      #galeria .fotos img {
        width: 600px;
        height: 450px;
        transition-duration: 2s; }
        #galeria .fotos img:hover {
          width: 600px;
          height: 450px;
          transition-duration: 2s; } }
