@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

* { margin: 0; padding: 0; }

li, a {
    font-family: 'Rajdhani', sans-serif;
    color: black;
    
}

body {
    background-color: white;

}

nav {
    display: inline;
    
}


.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}



.menu {
    list-style: none;
    font: bolder;
    font-size: larger;
}

.menu__link {
    margin: 10px 20px 10px 20px;
    
    
}


.menu__link--active{
    color: red;
    background-color: grey;
}

.menu__item--active {
    list-style-image: url(media/logo/item_chiquito.jpg);
    
}

.maincontent{
    grid-area: maincontent;
    margin-top: 1px;
    border: solid red 4px ;
    border-radius: 1%;
    background-color: black;
}
        




.maincontent__image {
    width:100%;
    height: 100%;
    object-fit:cover;
}

#galeria {
	text-align: center;
	margin: 20px;
	height: 500px;
}

.fotos  {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    border: solid red 4px ;
    border-radius: 1%;
    background-color: black;
}

h2{
    font-family: 'Rajdhani', sans-serif;
    border: solid black 2px;
}

#videos{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid red 4px ;
    border-radius: 1%;
    background-color: black;
}

#morzart{
    height: 2000px;
    display: grid;
    grid-template-areas:
    "logo img1 img2"
    "logo img3 img4"
    "logo img5 img6"
    "logo img7 img8";
    grid-template-columns: 15vh 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    ;
    
}

iframe {
    border: solid grey 4px ;
    margin: 10px;
}


.logo{
    grid-area: logo;
    background-image: url(media/logo/Logoacostado.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}

.img1{
    grid-area: img1;
    background-image: url(media/pics/animated/IMG-20170625-WA0009.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

}

.img2{
    grid-area: img2;
    background-image: url(media/pics/animated/IMG-20171101-WA0018.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}  

.img3{
    grid-area: img3;
    background-image: url(media/pics/animated/IMG-20171222-WA0000.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.img4{
    grid-area: img4;
    background-image: url(media/pics/animated/IMG-20180129-WA0020.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.img5{
    grid-area: img5;
    background-image: url(media/pics/animated/IMG-20180416-WA0051.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.img6{
    grid-area: img6;
    background-image: url(media/pics/animated/IMG-20180626-WA0005.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}


.img7{
    grid-area: img7;
    background-image: url(media/pics/animated/IMG-20180831-WA0203.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.img8{
    grid-area: img8;
    background-image: url(media/pics/animated/IMG_20190203_222844_226.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}


#maingrid{
    display: grid;
    grid-template-columns: 15vh 1fr 15vh;
    grid-template-rows: 20vw 1fr 15vw;
    grid-template-areas:
    "header header header"
    "maincontent maincontent maincontent"
    "footer footer footer";
}

.header{
    grid-area: header;
    width: auto;
    height: fit-content;
    
}



.footer{
    grid-area: footer;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

@media screen and (max-width:890px) {
    #maingrid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows:1fr;
        grid-template-areas:
        "header"
        "maincontent"
        "footer";
    }   
.navbar__morzi{
    display: none;
}
.footer__morz{
    display: none;
}

.footer{
    grid-area: footer;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}
}

@media screen and (max-width:390px) {
    #maingrid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
        "header"
        "maincontent"
        "footer";
    }   
.navbar__morzi{
    display: none;
}
.footer__morz{
    display: none;
}
.footer{
    grid-area: footer;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    font: bolder;
    font-size: larger;

}
.menu__item--active {
    display: none;
}

}