/* FOOTER */
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400');

.social-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  // height:10vh;
}

.social-wrapper i {
  padding: 0px 10px;
  color: #171717;
  cursor: pointer;
  transition: all ease-in-out 150ms;
  text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.7);
}

.social-wrapper i:hover {
  margin-top: -10px;  
  transform: translate(0, -8);
}

#facebook:hover {
  color: #4867AA;
  text-shadow: 0px 16px 10px rgba(36, 101, 135, 0.3);
}

#instagram:hover {
  color: #8a3ab9;
  text-shadow: 0px 16px 10px rgba(233, 89, 80, 0.3);
}

#youtube:hover {
  color: #ff1b1b;
  text-shadow: 0px 16px 10px rgba(233, 89, 80, 0.3);
}

#github:hover {
  color: #c9510c;
  text-shadow: 0px 16px 10px rgba(189, 44, 0, 0.3);
}

.textofooter{
    display: flex;
    flex-direction: column;
    align-items: center;
    h3{
        font-size:9px;
    }
}

