/* FOOTER */
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400');

footer{
    .footer{
        grid-area: footer;
            .footer__box{
                @include flex(wrap, space-between, center);
                align-self: center;
                margin-top: 5px;
            }
    }
}


