/* HEADER */

.header{
    @include flex(wrap, space-between, center);
        .navbar {
            @include flex(wrap, space-between, center);
            gap: 150px;
            padding: 0;
                .navbar__logochico{
                    transition-duration: 2s;
                    width: 220px;
                        &:hover{
                            width: 240px;
                            transition-duration: 2s;
                        }    
                }
                nav {
                    .menu {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: baseline;
                        flex-wrap: wrap;
                        list-style: none;
                        font: bolder;
                        font-size: larger;
                            .menu__link {
                                margin: 10px 50px 10px -5px;
                                background-color: white;
                                text-decoration: none;
                                transition-duration: 2.5s;
                                    &:hover{
                                        font-size: 21px;
                                        background-color: $background-color;
                                        text-decoration: underline;
                                        transition-duration: 2s;
                                    }
                            }
                            .menu__link--active{
                                color: $secondary;
                            }
                            .menu__item--active {
                                list-style-image: url(../media/logo/item_chiquito.jpg);    
                            }
                            .menu__link__ultimo{
                                text-align: center;
                                margin: auto;
                                text-decoration: none;
                                transition-duration: 2.5s;
                                &:hover{
                                    font-size: 21px;
                                    background-color: $background-color;
                                    text-decoration: underline;
                                    transition-duration: 2s;
                                }
                            }  
                    }
                }
        }
}
