/*HISTORIA*/

                .miembros {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    align-items: initial;
                    margin-top: 20px;
                        .card{
                                .tarjetita{
                                        .card-img-top{
                                            width: 367px;
                                            height: 356px;
                                        }
                                }
                                .card-body{
                                            align-items: initial;
                                }
                        }
                }



