/*GALERIA*/

#galeria {
	text-align: center;
    .fotos  {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
        border-radius: 1%;
        
            img{
                transition-duration: 2s;
                &:hover{
                    width: 900px;
                    height: 620px;
                    transition-duration: 2s;
                }
            }
    }
}

