/* SPACINGS*/
$spacing-large: 6rem;
$spacing-medium: 2rem;
$spacing-small: 1rem;

/* FONT FAMILY */
$font-main:'Rajdhani', sans-serif, cursive;
$font-intro:'MedievalSharp', cursive;
$font-principal: 'Luxurious Roman', cursive;
$font-title: 'cormorant garamond';

/* FONT SIZES*/
$text-large: 50px;
$text-base: 19px;
$text-small: 10px;

///COLORS/
$primary:rgba(0, 8, 8, 0.992);
$secondary:red;
$text-color: black;
$base: white;
$background-color: grey; 

